body{
    display: flex;
    flex-direction: column;
}

.background1{
    width: 100%;
    background-color: #1F2937;
    height: auto;
    margin: 0;
    padding: 0;
}

.header{
    margin: 0 auto;
    display: flex;
    color: white;
    width: 70%;
    justify-content: space-between;
    
  

}


a{
    text-decoration: none;
    color: white;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.top_list{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 16px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight:2;
   
}

.top_middle{
    display: flex;
    margin-top: 40px;
    margin-bottom: 70px;
}

.top_left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.top_left_text{
    color: white;
}

.inner_top_middle{
    display: flex;
    margin: 0 auto;
    width: 70%;
    font-family: sans-serif;
    gap: 8px;
}

.top_right{
    background-color: rgb(163, 162, 162);
    width: 50%;
    margin: 15px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder{
    display: flex;
   
    color: white;
}

.This{
    width:70%;
}

.button1{
    width: 80px;
    padding: 3px;
    border-radius: 8px;
    background-color: rgb(83, 164, 244);
    color: white;
}

.first-paragraph{
    width: 85%;
}

.background2{
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
    margin-top: 15px;
    
}

.Some{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.middle-middle{
    display: flex;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;
}

.square-text{
    width: 120px;
    font-size: 12px;
    text-align: center;
}

.square{
    height:90px;
    width: 90px;
    background-color: white;
    border: 3px solid rgb(96, 201, 239);
    display: flex;
    margin: 0 auto;
    border-radius: 12%;
    gap: 4px;
}

.square-combine{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 6px;
    
}

.innertop-center{
    width: 70%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 50px;
}

.background3{
    width: 100%;
    height: auto;
    background-color: rgb(235, 232, 232);
}

.inner3{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.Inside{
    width: 60%;
    margin: 0 auto;

}

.Inspiring-quote{
    font-style: italic;
    font-size: 22px;
    font-weight: lighter;
    color: rgb(122, 118, 118);
    
}

.thor{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.background4{
    background-color: white;
    width: 100%;
    height: auto;

}

.innerheader4{
    background-color: rgb(83, 164, 244);
    width: 70%;
    height: 100px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
   
}

.innerheader4-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    gap: 120px;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.left1{
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 12px;
}

.left2{
    color: white;
    font-family: sans-serif;
    font-size: 12px;

}

.right{
    background-color: rgb(83, 164, 244);
    color: white;
    width: 90px;
    padding: 4px;
    border-color: whitesmoke;
    border-radius: 8px;
}

.background5{
    width: 100%;
    height: auto;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.innerheader5{
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 8px;
    

    

}

.Copyright{
    color: white;
}




